<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/home.css">

        <title>GitHub Wars</title>
    </head>
    <body>
        <div class="usuarios"> 
            <img src="https://cdn.pixabay.com/photo/2016/03/31/18/25/duel-1294350_960_720.png" class="imagem-duelo" alt="" srcset="">
            <div class="inputs">
                <input type="text" id="user1" class="input form-control" placeholder="Insert first user...">
                <p class="texto">VS</p>
                <input type="text" id="user2" class="input form-control" placeholder="Insert second user..."> 
            </div>         
            
            <div class="fight">
                <button id="btn">FIGHT!</button>   
            </div>
        </div>
        <div id="teste"></div>
           <script src="../js/batalha.js"></script>
    </body>
</html>